<header>
    <div class="header-content">
        <div class="logo">
            <a href="../pages/home.html">
                <img src="../assets/logo.png" alt="Community Outreach Project Logo"> 
            </a>
        </div>
        <nav>
            <a href="../pages/home.html">Home</a>
            <a href="../pages/search.html">Search</a>
            <a href="../pages/explore.html">Explore</a>
            <a href="../pages/event_creation.html">Plan</a>
            <a href="../pages/help.html">Help</a>
        </nav>
        <div class="profile" id="userProfile">
            <img src="../assets/profile.png" alt="User profile picture"> 
            <a href="../pages/signup.html" id="authLink">Sign up</a>
            <a href="../pages/login.html" id="authLink">Log in</a>
        </div>
    </div>
</header>